/* ==========================================================================
   Top navigation
   ========================================================================== */

.navigation-top {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5px;
  background-color: $black;
}

.navigation-bottom {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1px;
  background-color: $body-color;
  @include media($medium) {
    height: 85px;
  }
}

.navigation-wrapper {
  text-align: center;
  @include clearfix;
  ul {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0 0 50px;
    padding: 4px 20px;
    background-color: $black;
    @include media($medium) {
      position: fixed;
      /* width: auto; */
      width: 94%;
      left: 3%;
      @include rounded(0 0 10px 10px);
    }
    @include clearfix;
  }
  li {
    display: block;
    float: left;
    list-style: none;
    text-align: center;
    @include font-size(13,no);
    text-transform: uppercase;
    color: $white;
    @include media($medium) {
      @include font-size(14,no);
    }
    a:hover {
      @include box-shadow($shadow: inset 0 0 1px $white);
    }
  }
  a {
    display: block;
    margin-bottom: 10px;
    padding: 12px 20px;
    @include media($medium) {
      margin-bottom: 0;
      padding: 6px 10px;
    }
    color: $white;
    @include rounded(4px);
    &:hover {
      background-color: lighten($black, 10);
    }
  }
  a.disabled:hover {
    background-color: $black;
    @include box-shadow($shadow: inset 0 0 1px $black); 
  }  
  ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 12px;
    width: 240px;
	background-color: $black;
	padding: 0;
    @include media($medium) {
      text-align: left;
      padding-left: 10px;
      position: absolute;
      width: 420px;
      left: 2%;
      top: 35px;
      @include rounded(0 0 10px 10px);
    }
  }

  ul ul li {
	float: none;
	width: 400px;
    padding-left: 5px;
    padding-right: 5px;
    @include font-size(12,no);
    text-align: left;
    text-transform: none;
  }

  ul ul a {
    line-height: 100%;
	padding: 5px 5px;
  }

  ul ul span {
	color: lighten($black, 40);
  }
  
  ul li:hover > ul {
	display: block;
  }
}

/*
   Responsive navigation toggle
   ========================================================================== */

#site-nav {
  display: none;
  z-index: 5;
  @include media($medium) {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
  }
  &.closed {
    @include media($medium) {
      display: block;
    }
  }
  &.opened {
    display: block;
    max-height: 100%;
    li {
      float: none;
      @include media($medium) {
        float: left;
      }
    }
  }
}

/* display when JavaScript is disabled */
.no-js #site-nav {
  display: block;
}

#nav-toggle {
  z-index: 20;
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 6px 20px;
  background-color: $black;
  height: 44px;
  @include rounded(0);
  @include media($medium) {
    display: none;
  }
}
